{% extends "StoreBackendBundle::layouts.html.twig" %}


{% block body %}
<div class="row">

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <h4>{{ product.productName }}</h4>
                </div>
                
                {% if product.photo %}

                    <img src="{{ asset( product.photo ) | imagine_filter('normal') }}" />

                {% endif %}

                {{ form ( form ) }}

            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="panel panel-default">
            <div class="panel-body">

                <ul class="nav nav-pills nav-stacked" role="tablist" style="max-width: 300px;">
                    <li role="presentation" class="active"><a href="{{ url('product_edit' , {'id' : product.id}) }}">产品信息</a></li>
                    <li role="presentation"><a href="{{ url('product_gallery' , {'id' : product.id}) }}">产品展示</a></li>
                    <li role="presentation"><a href="{{ url('edit_product_property' , {'id' : product.id}) }}">产品属性</a></li>
                </ul>

            </div>
        </div>

    </div>

</div>
{% endblock %}