<div class="table-responsive">
    <table class="table mb30">
        <thead>
        <tr>
            <th>#</th>
            <th>订单号</th>
            <th>总费用</th>
            <th>客户</th>
            <th>订单状态</th>
            <th>创建日期</th>
            <th>已经付款?</th>
            <th>是否发货</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>#{{ order.id }}</td>
            <td>
                <a href="{{ url('order_update' , {'orderId':order.orderId}) }}">
                    {{ order.orderId }}
                </a>
            </td>
            <td>{{ order.totalCost | currency | raw }}</td>
            <td>{{ order.user.username }}</td>
            <td>{{ order.paymentStatus | display_status | raw }}</td>
            <td>{{ order.createdAt | date('Y/m/d') }}</td>
            <td>{% if order.isLocked %}
                    <span class="label label-success">已经付款</span>
                {% else %}
                    <span class="label label-default">未付款</span>
                {% endif %}
            </td>
            <th>
                {% if order.isLocked %}

                    {% if order.trackingNumber == NULL %}
                        <span class="label label-default">还未发货</span>
                    {% else %}

                        <span class="label label-success">已经发货</span>
                    {% endif %}

                {% endif %}
            </th>
            <td class="table-action">
                <a href="{{ url('order_update' , {'orderId':order.orderId}) }}"><i class="fa fa-pencil"></i></a>
                <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>