<div class="col-md-7">

    <div class="panel">
        <div class="panel-body">
            <table class="table mb30">
                <thead>
                <tr>
                    <th>#</th>
                    <th>快递名</th>
                    <th>快递费用</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
            {% for shipment in shipments if shipment.removedAt == NULL %}
                    <tr>
                        <td>#{{ shipment.id }}</td>
                        <td>{{ shipment.shipmentName }}</td>
                        <td>{{ shipment.shipmentPrice | currency | raw }}</td>
                        <td class="table-action">
                            <a href="{{ url('shipment_edit' ,{'id':shipment.id}) }}"><i class="fa fa-pencil"></i></a>
                            <a href="{{ url('shipment_remove' , {'id':shipment.id}) }}" class="delete-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
            {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

</div>

<div class="col-md-5">

    <div class="panel">
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>

</div>
