<div class="row">

<div class="col-md-4">
    {{ form( form) }}
</div>

<div class="col-sm-4 col-md-4">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">未分类的产品</h4>
            <p>检索出来 {{ unclassified | length }} 个商品</p>
         </div>

        <div class="panel-body">

            {% for p in unclassified %}

                <div class="media">
                    <a href="#" class="pull-left">
                        <img alt="" src="images/photos/media1.jpg" class="media-object">
                    </a>
                    <div class="media-body">
                            <a href="{{ url('product_to_category' , {'productId':p.product.id , 'categoryId':category.id , 'dropCategory' : 0} ) }}">
                            <img class="img-thumbnail" src="{{ asset(p.product.photo) | imagine_filter('tiny') }}">
                            #{{ p.product.id }} . {{ p.product.productName }} <i class="fa fa-exchange"></i>
                            </a>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
<br>

</div><!-- col-sm-4 -->
<div class="col-sm-4 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"> "{{ category.name }}" 分类中的产品</h4>
            <p>检索出来 {{ classified | length }} 个商品</p>
        </div><!-- panel-heading -->
        <div class="panel-body">
            <div class="results-list">


                {% for p in classified %}

                    <div class="media">
                        <a href="#" class="pull-left">
                            <img alt="" src="images/photos/media1.jpg" class="media-object">
                        </a>
                        <div class="media-body">


                                <a href="{{ url('product_to_category' , {'productId':p.product.id , 'categoryId':category.id , 'dropCategory' : 1} ) }}">
                                    <img class="img-thumbnail" src="{{ asset(p.product.photo) | imagine_filter('tiny') }}">
                                    #{{ p.product.id }} . {{ p.product.productName }} <i class="fa fa-exchange"></i>
                                </a>

                        </div>
                    </div>

                {% endfor %}


            </div><!-- results-list -->

        </div><!-- panel-body -->
    </div><!-- panel -->
</div><!-- col-sm-8 -->
</div>