<div class="contentpanel">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">

                <div class="col-sm-12">
                    <h4>订单号: {{ order.orderId }}</h4>
                </div>

                <div class="col-sm-6">
                    <h4 class="subtitle mb10">
                        用户选择的快递:

                        {% if order.shipment %}
                        {{ order.shipment.shipmentName }}
                        {% endif %}
                    </h4>
                    {{ form(form) }}

                </div><!-- col-sm-6 -->

                <div class="col-sm-6">


                    <h5 class="subtitle mb10">To</h5>
                    <address>
                        <p>客户寄送地址:</p>
                        <p><strong>{{ order.address.street }}</p>

                        <p>收件人:</p>
                        <p><strong>{{ order.address.name }}</p>

                        <p>收件人联系方式:</p>
                        <p><strong>{{ order.address.phone }}</p>
                    </address>

                    <p><strong>下单日期: </strong> {{ order.createdAt | date('Y/m/d H:i:s') }}</p>
                    <p><strong>付款日期:</strong> {% if order.cart.expiredAt != NULL %} {{ order.cart.expiredAt | date('Y/m/d H:i:s') }} {% endif %}</p>

                </div>

            </div><!-- row -->

            <div class="table-responsive">
                <table class="table table-invoice">
                    <thead>
                    <tr>
                        <th>产品名</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>总价</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in order.cart.cartItem if item.removedAt == NULL %}

                    <tr>
                        <td>
                            <div class="text-primary"><strong>{{ item.productBasket.product.productName }}</strong></div>
                            <small>{{ item.productBasket.product.productDesc | striptags | truncate(100) }}</small>
                        </td>
                        <td>{{ item.sum }}</td>
                        <td>{{ item.singlePrice | currency | raw }}</td>
                        <td>{{ item.totalPrice | currency | raw }}</td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- table-responsive -->

            <table class="table table-total">
                <tbody>
                <tr>
                    <td><strong>商品总价 :</strong></td>
                    <td>{{ order.totalCost | currency | raw }}</td>
                </tr>
                <tr>
                    <td><strong>快递费用 :</strong></td>

                    <td>{% if order.shipment %}{{ order.shipment.shipmentPrice  | currency | raw }}{% endif %}</td>

                </tr>
                <tr>
                    <td><strong>总费用 :</strong></td>
                    <td>{{ total | currency | raw }}</td>
                </tr>
                </tbody>
            </table>

            <div class="mb40"></div>

            <div class="well">
            </div>


        </div><!-- panel-body -->
    </div><!-- panel -->

</div>

</div><!-- mainpanel -->