<!DOCTYPE html>
<html lang="en">
<head>
    {% spaceless %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <link rel="shortcut icon" href="{{ asset('backend/images/favicon.png') }}" type="image/png">
    <title>Store</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('backend/css/style.default.css') }}">
    <link rel="stylesheet" href="{{ asset('backend/css/jquery.datatables.css') }}">
    <link rel="stylesheet" href="{{ asset('backend/css/bootstrap-fileupload.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('extra/css/theme.css') }}" />
    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('backend/js/html5shiv.js') }}"></script>
    <script src="{{ asset('backend/js/respond.min.js') }}"></script>
    <![endif]-->
    {% endspaceless %}
</head>

<body>

<!-- Preloader -->
{#<div id="preloader">#}
    {#<div id="status"><i class="fa fa-spinner fa-spin"></i></div>#}
{#</div>#}

<section>

<div class="mainpanel_single">


        {{ render_esi( controller('StoreFrontendBundle:Top:index')) }}


<div class="pageheader">
    <h2><i class="fa fa-home"></i> {% block blockName %}{% endblock %}</h2>
</div>

    <ul class="filemanager-options">
        {% block breadcrumb %}
            <li><a href="{{ url('index') }}"><label>商城首页</label></a></li>
            <li class="filter-type">
                显示:
                <a href="#">所有热门商品</a>
                <a href="#">按销量</a>
                <a href="#">按上架日期</a>
            </li>
        {% endblock %}
    </ul>

<div class="contentpanel">

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}
    {% endblock %}



    <footer>
        {% block footer %}{% endblock %}
    </footer>

</div><!-- contentpanel -->
</div><!-- mainpanel -->
</section>


{% block javascripts %}
<script src="{{ asset('backend/js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('backend/js/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ asset('backend/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('backend/js/modernizr.min.js') }}"></script>
<script src="{{ asset('backend/js/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('backend/js/toggles.min.js') }}"></script>
<script src="{{ asset('backend/js/retina.min.js') }}"></script>
<script src="{{ asset('backend/js/jquery.cookies.js') }}"></script>

<script src="{{ asset('backend/js/flot/flot.min.js') }}"></script>
<script src="{{ asset('backend/js/flot/flot.resize.min.js') }}"></script>
<script src="{{ asset('backend/js/morris.min.js') }}"></script>
<script src="{{ asset('backend/js/raphael-2.1.0.min.js') }}"></script>

<script src="{{ asset('backend/js/jquery.datatables.min.js') }}"></script>
<script src="{{ asset('backend/js/chosen.jquery.min.js') }}"></script>

<script src="{{ asset('backend/js/custom.js') }}"></script>
<script src="{{ asset('extra/js/same_height.js') }}"></script>
{% endblock %}
</body>
</html>
