{% extends "StoreFrontendBundle::layouts.html.twig" %}

{% block title %}StoreFrontendBundle:Home:index{% endblock %}

{% block description %}{{ product.productDesc | striptags | truncate(218) }}{% endblock %}

{% block keywords %}{% endblock %}

{% block breadcrumb %}

    {{ parent() }}

    {% if product.productBasket.category %}
    <li><a href="{{ url('index') }}"><label>{{ product.productBasket.category.name }}</label></a></li>
    {% endif %}

{% endblock %}

 {% block blockName %}
     <img src="{{ product.productBasket.store.logo | imagine_filter('banner') }}" />
     <label>{{ product.productBasket.store.name }}</label>
 {% endblock %}

{% block body %}
    <section>
    <div class="mainpanel_single">
    <div class="contentpanel">
    <div class="row">
    <div class="col-sm-3">

        <img src="{{ asset( product.photo ) }}" class="thumbnail img-responsive" alt="" />

        <div class="mb30"></div>

        <div class="panel">
            <div class="panel-body">
            <h4 class="subtitle">组合套餐</h4>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
            <h4 class="subtitle">产品标签</h4>
            {% for tag in product.productBasket.tag %}
                <a href="{{ url('index_by_tag' , {'tagId' : tag.id}) }}"><span class="label label-success">{{ tag.name }}</span></a>
            {% endfor %}
            </div>
        </div>

    </div><!-- col-sm-3 -->
    <div class="col-sm-9">

    <div class="profile-header">
        <h2 class="profile-name">{{ product.productName }}</h2>
        <div class="profile-position"><i class="fa fa-money"></i> 价格 {{ product.productPrice | currency | raw }}</div>

        <div class="mb20"></div>

        <a class="btn btn-success btn-large mr5" href="{{ url('add_to_cart_and_checkout' , {'productId':product.id}) }}">
            <i class="fa fa-user"></i> 立即购买
        </a>

        <a class="btn btn-white btn-large" href="{{ url('add_to_cart' , {'productId':product.id}) }}">
            <i class="fa fa-envelope-o"></i> 加入购物车
        </a>

    </div><!-- profile-header -->


        {% include "StoreFrontendBundle:Home:product/tab.html.twig" %}


    </div><!-- col-sm-9 -->
    </div><!-- row -->

    </div><!-- contentpanel -->
    </div><!-- mainpanel -->

    <div class="rightpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rp-alluser" data-toggle="tab"><i class="fa fa-users"></i></a></li>
        <li><a href="#rp-favorites" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
        <li><a href="#rp-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
        <li><a href="#rp-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    <div class="tab-pane active" id="rp-alluser">
        <h5 class="sidebartitle">Online Users</h5>
        <ul class="chatuserlist">
            <li class="online">
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/userprofile.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Eileen Sideways</strong>
                        <small>Los Angeles, CA</small>
                    </div>
                </div><!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user1.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <span class="pull-right badge badge-danger">2</span>
                        <strong>Zaham Sindilmaca</strong>
                        <small>San Francisco, CA</small>
                    </div>
                </div><!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user2.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Nusja Nawancali</strong>
                        <small>Bangkok, Thailand</small>
                    </div>
                </div><!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user3.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Renov Leongal</strong>
                        <small>Cebu City, Philippines</small>
                    </div>
                </div><!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user4.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Weno Carasbong</strong>
                        <small>Tokyo, Japan</small>
                    </div>
                </div><!-- media -->
            </li>
        </ul>

        <div class="mb30"></div>

        <h5 class="sidebartitle">Offline Users</h5>
        <ul class="chatuserlist">
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user5.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Eileen Sideways</strong>
                        <small>Los Angeles, CA</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user2.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Zaham Sindilmaca</strong>
                        <small>San Francisco, CA</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user3.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Nusja Nawancali</strong>
                        <small>Bangkok, Thailand</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user4.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Renov Leongal</strong>
                        <small>Cebu City, Philippines</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user5.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Weno Carasbong</strong>
                        <small>Tokyo, Japan</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user4.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Renov Leongal</strong>
                        <small>Cebu City, Philippines</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user5.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Weno Carasbong</strong>
                        <small>Tokyo, Japan</small>
                    </div>
                </div><!-- media -->
            </li>
        </ul>
    </div>
    <div class="tab-pane" id="rp-favorites">
        <h5 class="sidebartitle">Favorites</h5>
        <ul class="chatuserlist">
            <li class="online">
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user2.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Eileen Sideways</strong>
                        <small>Los Angeles, CA</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user1.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Zaham Sindilmaca</strong>
                        <small>San Francisco, CA</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user3.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Nusja Nawancali</strong>
                        <small>Bangkok, Thailand</small>
                    </div>
                </div><!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user4.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Renov Leongal</strong>
                        <small>Cebu City, Philippines</small>
                    </div>
                </div><!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user5.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Weno Carasbong</strong>
                        <small>Tokyo, Japan</small>
                    </div>
                </div><!-- media -->
            </li>
        </ul>
    </div>
    <div class="tab-pane" id="rp-history">
        <h5 class="sidebartitle">History</h5>
        <ul class="chatuserlist">
            <li class="online">
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user4.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Eileen Sideways</strong>
                        <small>Hi hello, ctc?... would you mind if I go to your...</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user2.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Zaham Sindilmaca</strong>
                        <small>This is to inform you that your product that we...</small>
                    </div>
                </div><!-- media -->
            </li>
            <li>
                <div class="media">
                    <a href="#" class="pull-left media-thumb">
                        <img alt="" src="images/photos/user3.png" class="media-object">
                    </a>
                    <div class="media-body">
                        <strong>Nusja Nawancali</strong>
                        <small>Are you willing to have a long term relat...</small>
                    </div>
                </div><!-- media -->
            </li>
        </ul>
    </div>
    <div class="tab-pane pane-settings" id="rp-settings">

        <h5 class="sidebartitle mb20">Settings</h5>
        <div class="form-group">
            <label class="col-xs-8 control-label">Show Offline Users</label>
            <div class="col-xs-4 control-label">
                <div class="toggle toggle-success"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-8 control-label">Enable History</label>
            <div class="col-xs-4 control-label">
                <div class="toggle toggle-success"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-8 control-label">Show Full Name</label>
            <div class="col-xs-4 control-label">
                <div class="toggle-chat1 toggle-success"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-8 control-label">Show Location</label>
            <div class="col-xs-4 control-label">
                <div class="toggle toggle-success"></div>
            </div>
        </div>

    </div><!-- tab-pane -->

    </div><!-- tab-content -->
    </div><!-- rightpanel -->

    </section>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('owl/owl-carousel/owl.carousel.css') }}">
    <link href="{{ asset('owl/owl-carousel/owl.theme.css') }}" rel="stylesheet">
    <style>
        #gallery-photo .item img{
            display: block;
            height: auto;
        }
    </style>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('owl/owl-carousel/owl.carousel.js') }}"></script>
    <script>


        $(document).ready(function() {

            $("#gallery-photo").owlCarousel({

                navigation : true, // Show next and prev buttons
                slideSpeed : 200,
                paginationSpeed : 400,
                singleItem:true

                // "singleItem:true" is a shortcut for:
                // items : 1,
                // itemsDesktop : false,
                // itemsDesktopSmall : false,
                // itemsTablet: false,
                // itemsMobile : false

            });

        });


    </script>
{% endblock %}