
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified nav-profile">
    <li class="active"><a href="#activities" data-toggle="tab"><strong>介绍</strong></a></li>
    <li><a href="#followers" data-toggle="tab"><strong>展示</strong></a></li>
    <li><a href="#following" data-toggle="tab"><strong>评价</strong></a></li>
    <li><a href="#events" data-toggle="tab"><strong>故事</strong></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="activities">

    {{ product.productDesc | raw}}

</div>
<div class="tab-pane" id="followers">

    <div id="gallery-photo" class="owl-carousel owl-theme" align="center">
        {% for key,gallery in product.productBasket.photo %}
        <div class="item">

            <h3>第{{ key+1 }}页 / 共{{ product.productBasket.photo|length }}页</h3>

            <img src="{{ asset( gallery.photo) | imagine_filter('gallery') }}" alt="{{ product.productName }}" />

        </div>
        {% endfor %}
    </div>

</div>
<div class="tab-pane" id="following">

    <button class="btn btn-white btn-block">Show More</button>

</div>
<div class="tab-pane" id="events">
    <div class="events">
        <h5 class="subtitle">Upcoming Events</h5>
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="holder.js/100x120.html" alt="" />
                    </a>
                    <div class="media-body event-body">
                        <h4 class="event-title"><a href="#">Free Living Trust Seminar</a></h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> Silicon Valley, San Francisco, CA</small>
                        <small class="text-muted"><i class="fa fa-calendar"></i> Sunday, January 15, 2014 at 11:00am</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    </div>
                </div><!-- media -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="holder.js/100x120.html" alt="" />
                    </a>
                    <div class="media-body event-body">
                        <h4 class="event-title"><a href="#">Serious Games Seminar</a></h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> New York City</small>
                        <small class="text-muted"><i class="fa fa-calendar"></i> Monday, January 14, 2014 at 8:00am</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    </div>
                </div><!-- media -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="holder.js/100x120.html" alt="" />
                    </a>
                    <div class="media-body event-body">
                        <h4 class="event-title"><a href="#">Travel &amp; Adventure Show</a></h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> Los Angeles, CA</small>
                        <small class="text-muted"><i class="fa fa-calendar"></i> Friday, January 12, 2014 at 8:00am</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    </div>
                </div><!-- media -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="holder.js/100x120.html" alt="" />
                    </a>
                    <div class="media-body event-body">
                        <h4 class="event-title"><a href="#">Mobile Games Summit</a></h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> Bay Area, San Francisco</small>
                        <small class="text-muted"><i class="fa fa-calendar"></i> Saturday, January 10, 2014 at 8:00am</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    </div>
                </div><!-- media -->
            </div><!-- col-sm-6 -->
        </div>

        <br />

        <h5 class="subtitle">Past Events</h5>
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="holder.js/100x120.html" alt="" />
                    </a>
                    <div class="media-body event-body">
                        <h4 class="event-title"><a href="#">Free Living Trust Seminar</a></h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> Silicon Valley, San Francisco, CA</small>
                        <small class="text-muted"><i class="fa fa-calendar"></i> Sunday, January 15, 2014 at 11:00am</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    </div>
                </div><!-- media -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="holder.js/100x120.html" alt="" />
                    </a>
                    <div class="media-body event-body">
                        <h4 class="event-title"><a href="#">Serious Games Seminar</a></h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> New York City</small>
                        <small class="text-muted"><i class="fa fa-calendar"></i> Monday, January 14, 2014 at 8:00am</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    </div>
                </div><!-- media -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="holder.js/100x120.html" alt="" />
                    </a>
                    <div class="media-body event-body">
                        <h4 class="event-title"><a href="#">Travel &amp; Adventure Show</a></h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> Los Angeles, CA</small>
                        <small class="text-muted"><i class="fa fa-calendar"></i> Friday, January 12, 2014 at 8:00am</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    </div>
                </div><!-- media -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="holder.js/100x120.html" alt="" />
                    </a>
                    <div class="media-body event-body">
                        <h4 class="event-title"><a href="#">Mobile Games Summit</a></h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> Bay Area, San Francisco</small>
                        <small class="text-muted"><i class="fa fa-calendar"></i> Saturday, January 10, 2014 at 8:00am</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    </div>
                </div><!-- media -->
            </div><!-- col-sm-6 -->
        </div>

    </div><!-- events -->
</div>
</div><!-- tab-content -->