<div class="row">


    <div class="col-md-6">

        {% if store.id is null %}

                    <div class="panel panel-primary panel-stat">
                        <div class="panel-heading">

                            <div class="stat">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{ asset('backend/images/is-document.png') }}" alt="">
                                    </div>
                                    <div class="col-md-9">
                                        <small class="stat-label">你好 请先在右边添加你的商店信息</small>
                                        <h2>初始化商店</h2>
                                    </div>
                                </div><!-- row -->

                                <div class="mb15"></div>
                            </div><!-- stat -->
                        </div><!-- panel-heading -->
                    </div>

        {% else %}

        <div class="panel panel-default widget-photoday">
            <div class="panel-body">
                <a href="#" class="photoday"><img src="{{ asset( store.logo ) }}" height="230px"></a>
                <div class="photo-details">
                    <h3 class="photo-title">{{ store.name }}</h3>
                    <h3><small class="text-muted"><i class="fa fa-map-marker"></i> {{ store.address }}</small></h3>
                    <h3><small>所在城市: {{ store.city.name }}</small></h3>
                    <h3><small>底部备案: <br/>{{ store.extraInfo | raw }}</small></h3>

                </div><!-- photo-details -->
                <ul class="photo-meta">
                    <li><span><i class="fa fa-eye"></i> 32,102</span></li>
                    <li><a href="#"><i class="fa fa-heart"></i> 1,003</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i> 52</a></li>
                </ul>
            </div><!-- panel-body -->
        </div>

        {% endif %}

    </div>


    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form( form) }}
            </div>
        </div>

    </div>

</div>