<div class="row">


    <div class="col-md-6">

        <div class="panel panel-default widget-photoday">
            <div class="panel-body">
                <a href="#" class="photoday"><img src="{{ asset( store.logo ) }}" height="230px"></a>
                <div class="photo-details">
                    <h3 class="photo-title">{{ store.name }}</h3>
                    <h3><small class="text-muted"><i class="fa fa-map-marker"></i> {{ store.address }}</small></h3>
                    <h3><small>所在城市: <a href="#">{{ store.city.name }}</a></small></h3>
                </div><!-- photo-details -->
                <ul class="photo-meta">
                    <li><span><i class="fa fa-eye"></i> 32,102</span></li>
                    <li><a href="#"><i class="fa fa-heart"></i> 1,003</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i> 52</a></li>
                </ul>
            </div><!-- panel-body -->
        </div>

    </div>


    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form( form) }}
            </div>
        </div>

    </div>

</div>