{% extends "StoreFrontendBundle::layouts.html.twig" %}

{% block title %}StoreFrontendBundle:Home:index{% endblock %}


 {% block blockName %}
        <img src="{{ store.logo | imagine_filter('banner') }}" />
        <label>{{ store.name }}</label>
 {% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    {% if category %}
    <li><a href="{{ url('index_by_category' , {'categoryId' : category.id}) }}"><label>{{ category.name }}</label></a></li>
    {% endif %}

    {% if tag %}
        <li><a href="{{ url('index_by_tag' , {'tagId' : tag.id}) }}"><label>{{ tag.name }}</label></a></li>
    {% endif %}

{% endblock %}

{% block body %}
    <div class="contentpanel">
    <div class="row">
    <div class="col-sm-9">
    <div class="row filemanager">


    {% for productBasket in products if productBasket.product.isAvailable %}
    <div class="col-xs-6 col-sm-4 col-md-3 document">
        <div class="thmb same_height">
            <div style="display: none;" class="ckbox ckbox-default">
                <input id="check1" value="1" type="checkbox">
                <label for="check1"></label>
            </div>
            <div class="thmb-prev">
                <a href="{{ url('find_product_by_id' , {'id' : productBasket.product.id} ) }}">
                <img src="{{ productBasket.product.photo | imagine_filter('200x160') }}" class="img-responsive" alt="">
                </a>
            </div>
            <br/>
            <small class="text-muted">{{ productBasket.product.productPrice | currency | raw }}</small>

            <h4 class="fm-title">
                <a href="{{ url('find_product_by_id' , {'id' : productBasket.product.id} ) }}">
                    {{ productBasket.product.productName | truncate(64) }}
                </a>
            </h4>


            <p>
            {% for id,tag in productBasket.tag %}
                {% if id < 5 %}
                <span class="label label-success">{{ tag.name }}</span>
                {% endif %}
            {% endfor %}
            </p>
        </div><!-- thmb -->
    </div><!-- col-xs-6 -->
    {% endfor %}

    </div><!-- row -->

        {% if tag == NULL %}
        {{ knp_pagination_render(products) }}
        {% endif %}


    </div><!-- col-sm-9 -->
    <div class="col-sm-3">
        <div class="fm-sidebar">

            <a href="{{ url('checkout_dashboard') }}" class="btn btn-primary btn-block">我的购物车</a>

            <div class="mb30"></div>

            <h5 class="subtitle">分类 <a href="#" class="pull-right"></a></h5>
            <ul class="folder-list">
                <li>
                    <a href="{{ url('index') }}">
                        <i class="fa fa-folder-o"></i> 所有
                    </a>
                </li>

                {% for category in store.category if category.isEnabled %}
                <li>
                    <a href="{{ url('index_by_category' , {'categoryId' : category.id} ) }}">
                        <i class="fa fa-folder-o"></i> {{ category.name }} ( {{  category.productBasket | length }} )
                    </a>
                </li>
                {% endfor %}
            </ul>

            <div class="mb30"></div>

            <h5 class="subtitle">标签</h5>
            <ul class="tag-list">
                {% for tag in tags %}
                <li><a href="{{ url('index_by_tag' , {'tagId':tag.id} ) }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div><!-- col-sm-3 -->
    </div>
    </div>


{% endblock %}